.spot-details-wrapper {
    height: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.spot-details-center {
    padding-top: 25px;
    max-width: 1000px;
}


.spot-details-heading {
    font-size: 25px;
    font-family: 'AirbnbCereal_W_Md';
    text-align: left;
}

.spot-details-sub {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.spot-images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-areas:
        "big-image big-image --- ---"
        "big-image big-image --- ---";
}

.spot-images-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.spot-images-wrapper img:first-child {
    grid-area: big-image;
    height: 100%;
}

.num-of-reviews {
    margin-top: 15px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 15px;
}

.spot-description-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.description-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
}

.spot-details-description {
    width: 660px;
    margin-bottom: 15px;
}



.reserve-div {
    border: 1px solid black;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 20px;
}

.reserve-btn {
    background-color: #ff385c;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    margin-top: 12px;
    transition: box-shadow .3s;
}

.reserve-btn:hover {
    box-shadow: 2px 2px 2px black;
}

.price-line {
    display: flex;
    justify-content: space-between;

}

.price-line .rating {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.price-line .price {
    font-size: 24px;
}




/* .post-review-btn:hover {
    box-shadow: 2px 2px 2px black;
} */

.review-modal,
.review-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.review-modal-overlay {
    background: rgba(49, 49, 49, 0.8);
}

.review-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

body.active-modal {
    overflow-y: hidden;
}

/* #delete-review-btn,
#post-review-btn {
    width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #ff385c;
    margin-bottom: 15px;
    transition: box-shadow .3s;

} */

/* #delete-review-btn:hover,
#post-review-btn:hover {
    box-shadow: 2px 2px 2px black;
} */

/* #delete-review-btn {
    color: white;
} */

.review-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}


.review-date {
    color: grey;
    margin-bottom: 5px;
}

.review-review {
    padding-bottom: 15px;
}

#delete-review-modal-div {
    width: max-content;
}
