.create-spot-form-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.new-spot-form {
    margin-top: 150px;
    text-align: center;
    height: max-content;
    max-width: 700px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    margin-bottom: 80px;
}

.new-spot-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 10px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
}

.new-spot-form button {
    outline: 0;
    background: #ff385c;
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px;
}

.new-spot-form h3 {
    padding-top: 20px;
}

.new-spot-form label {
    padding-top: 20px;
}