.home-wrapper {
    margin-top: 125px;
    margin-left: 80px;
    margin-right: 80px;
    height: 100vh;
}

.spots-list {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.spot-tile {
    width: max-content;
    transition: box-shadow .3s;
    padding: 15px;
    border-radius: 15px;
}

.spot-tile:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    cursor: pointer;
}

.spot-tile img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 10px;
}


.spot-tile .spot-name {
    font-size: 16px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.spot-tile p {
    font-size: 16px;
    color: #717171;
    font-family: 'AirbnbCereal_W_Lt';
    margin-bottom: 6px;
}

.spot-tile>span {
    font-size: 16px;
    color: black;
    font-family: 'AirbnbCereal_W_Md';
}

.spot-tile>span>span {
    font-size: 16px;
    color: black;
    font-family: 'AirbnbCereal_W_Lt';
}

.stars {
    font-family: 'AirbnbCereal_W_Lt';
    display: flex;
    align-items: center;

}

.stars i {
    font-size: 14px;
    margin-right: 4px;

}

/* .tooltip {
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
    display: hidden;
    position: fixed;
    text-align: center;
    margin-top: 90px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 10px;
} */

.spot-tile:hover .tooltip {
    opacity: 1;
}

.tooltip {
    opacity: 0;
    position: absolute;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
}



.spot-tile > a {
    display: none;
}
