.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 300px;
    grid-template-areas: "signup signup"
        "... ..."
        "... ..."
        "... ..."
        "btn btn";
    text-align: center;
    height: max-content;
    z-index: 1;
    /* max-width: 500px; */
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.signupForm h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    grid-area: signup;
}

.signupForm input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 10px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
}

.signupForm button {
    outline: 0;
    background: #ff385c;
    width: 100%;
    border: 1px solid #FFFFFF;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px;
    grid-area: btn;
}

.signupForm button:hover {
    color: #ff385c;
    background-color: #FFFFFF;
    border: 1px solid #ff385c;
}

.signupForm>h1 {
    text-align: center;
}