.current-spots-wrapper {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    height: 100vh;
}

.current-spots-wrapper h1 {
    padding-top: 15px;
    text-align: center;
}

.create-spot-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.create-spot-btn a {
    width: max-content;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    color: white;
    background-color: #ff385c;
    transition: box-shadow .3s;
}

.create-spot-btn a:hover {
    box-shadow: 2px 2px 2px black;
}



.spots-list {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#spot-tile {
    width: 330px;
    transition: box-shadow .3s;
    padding: 15px;
    border-radius: 15px;
    color: black;
    cursor: default;
}

/* #spot-tile:hover {
    box-shadow: none;
    cursor: default;
} */

.spot-tile img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
}

/* #spot-preview-image-div img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(55, 53, 53);
} */




.spot-tile .spot-name {
    font-size: 16px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.spot-tile p {
    font-size: 16px;
    color: #717171;
    /* font-family: 'AirbnbCereal_W_Lt'; */
    font-weight: 200;
    margin-bottom: 6px;
}

.spot-tile>span {
    font-size: 16px;
    color: black;
    /* font-family: 'AirbnbCereal_W_Md'; */
    
}

/* UPDATE BUTTON */

.update-delete-div {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
}

.update-spot-btn a {
    background-color: #59cc7a;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    transition: box-shadow .3s;
    width: max-content;
}

.update-spot-btn a:hover {
    box-shadow: 2px 2px 2px black;
}

/* MODAL BUTTON */

.open-modal-button {
    background-color: #ff385c;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    transition: box-shadow .3s;
    width: max-content;
}

.open-modal-button:hover {
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}