.confirm-overlay {
    background: rgba(49, 49, 49, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-content {
    background-color: white;
    padding: 28px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.confirm-heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.confirm-sub {
    font-size: 15px;
    margin-bottom: 20px;
}

.confirm-btns-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}


.confirm-btns-div .modal-close-btn {
    background-color: grey;
}

.confirm-delete-btn {
    background-color: #ff385c;
}

.confirm-delete-btn,
.confirm-btns-div .modal-close-btn {
    padding: 10px 20px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    color: white;
    transition: box-shadow .3s;
}

.confirm-delete-btn:hover,
.confirm-btns-div .modal-close-btn:hover {
    box-shadow: 2px 2px 2px black;
}