.star {
    cursor: pointer;
    color: grey;
}

.star:hover {
    color: black;
}

.stars-div {
    width: 100%;
    text-align: center;

}

.star.filled {
    color: black;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}

.review-submit-button {
    margin-top: 15px;
    background: #ff385c;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: box-shadow .3s;
    cursor: pointer;
    border-radius: 8px;
}

.review-submit-button:disabled {
    background-color: dimgrey;
}

.review-submit-button:disabled:hover {
    background-color: dimgrey;
    cursor: default;
    box-shadow: none;
}

.review-submit-button:hover {
    box-shadow: 2px 2px 2px black;
}

.review-modal-content .modal-close-btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: background-color .3s;
    transition: color .3s;
}

.review-modal-content .modal-close-btn:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.review-modal-content {
    border-radius: 10px;
    padding: 25px;
    background-color: white;
    width: 400px;
}

.modal-close-btn-center {
    width: 100%;
    text-align: center;
}

.create-review-form h2 {
    text-align: center;
}

.review-errors {
    color: #ff385c;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}