* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li:visited{
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

